{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SEKJA</title>
   <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'sekja/styles.css' %}" >
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <div class="container-fluid">
         <a class="navbar-brand" style="font-size: 24px;">SEKJA</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 20px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="{% url 'papan_laporan' %}">Papan Laporan</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'jalan' %}">Data Jalan</a>
               </li>
            </ul>
         </div>
         {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-success me-2">Login</a>
            <a href="{% url 'register' %}" class="btn btn-light me-2">Register</a>
         {% else %}
            <a class="navbar-brand">HALO {{ request.user.name }}! ({{ user_status }})</a>
            <a href="{% url 'logout' %}" class="btn btn-danger me-2">Logout</a>
         {% endif %}
      </div>
   </nav>

   <section class="main-body p-4 ">
      <div class="text-center p-3">
         <h2>DATA JALAN</h2>
         <h5 class="p-2">Lihat seluruh informasi jalanan di DKI Jakarta yang ada</h5>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
               <div class="container">
                  <div class="row">
                     {% for jalan in Jalan %}
                     <div class="col-lg-4 col-6 p-3">
                        <div class="card bg-primary text-light h-100">
                           <div class="card-body">
                              <h4 class="card-title text-center mb-3"> {{ jalan.nama_jalan }} </h4>
                              <p class="card-text"> Tipe Jalan: {{ jalan.tipe_jalan }} </p>
                              <p class="card-text"> Kondisi Trotoar: {{ jalan.kondisi_trotoar }} </p>
                              <p class="card-text"> Kondisi Penerangan: {{ jalan.kondisi_penerangan }} </p>
                              <p class="card-text"> Kondisi Jalan: {{ jalan.kondisi_jalan }} </p>
                              <p class="card-text"> 
                                 Jalan Sekitar: <br>
                                 {{ jalan.call_jalan_sekitar }}
                              </p>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
            <div class="col-sm-1"></div>
         </div>
      </div>
   </section>


   <footer class="main-footer d-flex align-items-stretch text-light" id="layout-footer" style="display: block; background-color: black;">
      <div class="container mt-3 pt-4 pb-4">
        <div class="row">

          <div class="col-6 d-flex justify-content-center align-items-center ">
            <p class="display-2">SEKJA</p>
          </div>

          <div class="col-6 d-flex justify-content-center align-items-center ">
            <p class="display-6">Kelompok penungguBansos</p>
          </div>

        </div>
      </div>
    </footer>
    
    
</body>
</html>